In [1]:
import numpy as np
import pandas as pd
import h5py
import torch
from torchvision.transforms import functional as Func
from torchvision import transforms as T
from PIL import Image

In [2]:
!ls

0_create_dataset.ipynb	bnpp_1024.hdf5	bnpp_train.csv	lightning_logs
1_playaround.ipynb	bnpp_test.csv	bnpp_val.csv

In [4]:
hf = h5py.File('bnpp_1024.hdf5', 'r')

In [21]:
hf[list(hf.keys())[0]]

## Save Set?

In [7]:
hf_path = '/home/jmryan/teams/dsc-180a---a14-[88137]/bnpp_frontalonly_1024_'
hf_paths = []
hfs = []
for i in range(11):
    #print(os.path.exists(hf_path+str(i)+'.hdf5'))
    if i >= 7 and i != 10:
        continue
    hf_paths.append(hf_path+str(i)+'.hdf5')
    hfs.append(h5py.File(hf_path+str(i)+'.hdf5', 'r'))
    print(i)

0
1
2
3
4
5
6
10

In [11]:
ims = []
pil = T.ToPILImage()
tens = T.ToTensor()
resize = T.Resize([224, 224], interpolation=T.InterpolationMode.BILINEAR)
for hf in hfs:
    for key in list(hf.keys()):
        im = hf[key][:,:]
        im = (im-im.min())/(im.max() - im.min())
        im = tens(resize(pil(im.copy())))[0]
        ims.append(im)

In [8]:
pids = []
for hf in hfs:
    for key in list(hf.keys()):
        pids.append(key)

In [15]:
pd.DataFrame(pids).to_csv('/home/jmryan/teams/dsc-180a---a14-[88137]/bnpp_224_19649_pid_order.csv')

In [12]:
torch.tensor(np.array(pids))

TypeError: can't convert np.ndarray of type numpy.str_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint8, and bool.

In [13]:
torch_ims = torch.stack(ims)

In [15]:
len(torch_ims)

19649

In [16]:
torch.save(torch_ims, '/home/jmryan/teams/dsc-180a---a14-[88137]/bnpp_224_19649.pandas')

In [2]:
loaded = torch.load('/home/jmryan/teams/dsc-180a---a14-[88137]/bnpp_224_19649.pandas')

In [6]:
loaded[-1]

tensor([[0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        ...,
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 2.9528e-01, 2.3524e-01,
         1.9776e-01],
        [0.0000e+00, 0.0000e+00, 1.2348e-06,  ..., 2.9025e-01, 2.3724e-01,
         2.0510e-01],
        [0.0000e+00, 0.0000e+00, 1.4884e-06,  ..., 2.8753e-01, 2.4105e-01,
         2.1004e-01]])

## Random Exploring

In [10]:
test_df = pd.read_csv('bnpp_test.csv')
train_df = pd.read_csv('bnpp_train.csv')
val_df = pd.read_csv('bnpp_val.csv')
all_df = pd.concat([train_df, val_df, test_df]).set_index('unique_key')

In [6]:
ids = pd.concat([test_df[['unique_key']], train_df[['unique_key']], val_df[['unique_key']]])['unique_key'].iloc[:-1].to_numpy()

In [8]:
in_ = []
hf_keys = list(hf.keys())
for im in ids:
    if im in hf_keys:
        in_.append(im)

In [15]:
actual_all = all_df.loc[in_]

In [19]:
print(actual_all['BNP_value'].mean())
print(actual_all['BNP_value'].std())

4958.36104815864
10944.87252960246

In [48]:
def age_helper(x):
    if x > 90:
        return '> 90'
    elif x > 80:
        return '> 80'
    elif x > 70:
        return '> 70'
    elif x > 60:
        return '> 60'
    elif x > 50:
        return '> 50'
    elif x > 40:
        return '> 40'
    elif x > 30: 
        return '> 30'
    elif x >= 20:
        return '> 20'

In [49]:
actual_all['age_group'] = actual_all['age_at_sampletime'].apply(age_helper)

In [54]:
actual_all[['age_group', 'BNP_value']].groupby('age_group').agg(['mean', 'std', 'count', 'min', 'max', 'median']).sort_index()

             BNP_value
                  mean           std count   min      max  median
age_group
> 20       5391.504167  14767.180635    24   6.0  70000.1   252.0
> 30       3816.414286   8689.215551    35   4.9  37905.0   471.0
> 40       4397.902597   9858.064132    77   4.9  54607.0   403.0
> 50       3885.609589   9997.732103   146   4.9  70000.1   623.0
> 60       6100.635922  12662.312680   206   4.9  70000.1  1212.5
> 70       5176.419048  11203.797668   126  22.0  70000.1  1371.0
> 80       4440.040541   7282.442271    74  32.0  34989.0  1548.5
> 90       5231.777778  10903.987806    18  99.0  41461.0   894.0

In [54]:
len(hf)

749

In [52]:
hf[list(hf.keys())[0]][:,:]

array([[ 1150.     ,   991.57574,   889.22   , ...,   364.93158,
          424.56793,   471.     ],
       [ 1120.3812 ,   915.83234,   860.17346, ...,   357.5568 ,
          409.25415,   444.5083 ],
       [ 1032.4056 ,   901.9313 ,   870.71936, ...,   376.0726 ,
          408.83182,   444.94916],
       ...,
       [11184.738  , 10646.195  , 10257.507  , ...,  8331.449  ,
         8116.2607 ,  8211.855  ],
       [12149.729  , 11527.023  , 11249.011  , ...,  9267.892  ,
         9512.013  ,  9446.002  ],
       [12591.     , 12286.253  , 12206.42   , ..., 10557.234  ,
        10781.891  , 10711.     ]], dtype=float32)

In [70]:
import torch
import os
import pandas as pd
from torchvision.io import read_image
from torch.utils.data import Dataset

class ImageDataset(Dataset):
    def __init__(self, hf, df, transform=None, target_transform=None):
        self.hf = hf
        self.hf_keys = list(hf.keys())
        self.df = df

    def __len__(self):
        return len(self.hf)

    def __getitem__(self, idx):
        key = self.hf_keys[idx]
        im = hf[key][:,:]
        val = self.df.loc[key].BNP_value
        return torch.tensor(im), val

In [71]:
df = ImageDataset(hf, all_df)

In [74]:
df[100][0]

tensor([[ 355.1084,  359.5648,  362.7708,  ...,  381.3664,  381.3664,
          380.1160],
        [ 353.8580,  359.1008,  361.8934,  ...,  381.3664,  381.3664,
          380.1160],
        [ 353.8580,  358.3144,  361.5204,  ...,  381.3664,  381.3664,
          380.1160],
        ...,
        [2082.6750, 2091.7556, 2065.5845,  ..., 1707.5608, 1707.8625,
         1689.9232],
        [2075.7656, 2125.6589, 2050.8254,  ..., 1682.2145, 1658.7534,
         1653.3994],
        [2099.3909, 2090.4475, 2039.6316,  ..., 1665.0586, 1672.6562,
         1631.7480]])