In [1]:
import pandas as pd

In [11]:
tmp = pd.read_csv('hsiao_base_full_5_reg_logs_valid.csv', index_col=0)[['Epoch', 'AUC', "PRC", 'loss']]

In [13]:
tmp.AUC.max()

0.7967766284860637

In [9]:
info_dic = {'Epoch': [77], 'AUC': [0.9], 'PRC': [0.8], 'loss':[0.1]}

In [10]:
pd.concat([tmp, pd.DataFrame.from_dict(info_dic)])

    Epoch       AUC       PRC      loss
0       0  0.707136  0.719181  0.567075
1       1  0.839790  0.785954  0.447507
2       2  0.928877  0.864953  0.314192
3       3  0.984346  0.941732  0.152782
4       4  0.995200  0.970338  0.085536
..    ...       ...       ...       ...
70     70  0.999780  0.996516  0.017922
71     71  0.999849  0.996864  0.015213
72     72  0.999654  0.996750  0.017400
73     73  0.999834  0.997443  0.014191
0      77  0.900000  0.800000  0.100000

[75 rows x 4 columns]